{"swagger":"2.0","info":{"version":"3.0.0","title":"Looker API 3.0 Reference","description":"This document describes the Looker API.\n\nPlease note that this is the 'new' Looker RESTful API. This API uses Looker 'API 3' keys.\nThose keys can be created for Looker users by Looker admins on the admin/user edit page. Such\nkeys will allow a user to autheticate to the API as that user; having that user's permissions.\nAdmins can create 'dummy' accounts specifically for API use, or add keys to real users' accounts.\n\nA Ruby SDK is available to integrate this API into applications. Standard RESTful practices are\nused by the API, so it should be callable by any RESTful client framework - or just using raw\nHTTP requests. Additionally, the 'api-docs' page served by the Looker instance includes 'Try it out!'\nbuttons for each API method so that anyone logged in with an API3 key can call the API directly from the\ndocumentation page.\n\nFuture releases of Looker will expand this API release-by-release to securely expose more and more of the core\npower of Looker to API client applications.\n\nThis document does not cover the old Looker Query API. The methods in the 'Query' section below are\nintended to replace that old API. Nonetheless, information about the old API can be found at             [Query API](http://www.looker.com/docs/reference/api-and-integration/looker-api-reference) and             [Ruby SDK](http://www.looker.com/docs/reference/api-and-integration/looker-ruby-sdk).\n\n","contact":{"name":"Looker Team \u003csupport@looker.com\u003e"},"license":{"name":"EULA","url":"https://looker.buffer.com/eula"}},"basePath":"/api/3.0","consumes":["application/json"],"produces":["application/json"],"host":"looker.buffer.com:19999","schemes":["https"],"tags":[{"name":"ApiAuth","description":"API Authentication"},{"name":"Query","description":"Run and Manage Queries"},{"name":"Look","description":"Run and Manage Looks"},{"name":"Dashboard","description":"Manage Dashboards"},{"name":"User","description":"Manage Users"},{"name":"Role","description":"Manage Roles"},{"name":"RunningQueries","description":"Manage Running Queries"},{"name":"Story","description":"Manage Stories"},{"name":"Space","description":"Manage Spaces"},{"name":"Upload","description":"Manage Upload Tables"},{"name":"Project","description":"Manage Projects"},{"name":"Config","description":"Manage General Configuration"},{"name":"Auth","description":"Manage User Authentication Configuration"},{"name":"SqlQuery","description":"Run and Manage SQL Runner Queries"},{"name":"Connection","description":"Manage Database Connections"},{"name":"ScheduledPlan","description":"Manage Scheduled Plans"}],"paths":{"/user":{"get":{"tags":["User"],"operationId":"me","summary":"Get current user","description":"### Get information about the current user; i.e. the user account currently calling the API.\n","x-looker-status":"beta","parameters":[{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Current user.","schema":{"$ref":"User"}}}}},"/users":{"get":{"tags":["User"],"operationId":"all_users","summary":"get all users","description":"### Get information about all users.\n","x-looker-status":"beta","parameters":[{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"},{"name":"page","in":"query","description":"Requested page.","required":false,"type":"integer","format":"int64"},{"name":"per_page","in":"query","description":"Results per page.","required":false,"type":"integer","format":"int64"},{"name":"sorts","in":"query","description":"Fields to sort by.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"All users.","schema":{"type":"array","items":{"$ref":"User"}}}}},"post":{"tags":["User"],"operationId":"create_user","summary":"create a user","description":"### Create a user with the specified information.\n","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"User","required":false,"schema":{"$ref":"User"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"409":{"description":"Resource Already Exists","schema":{"$ref":"Error"}},"422":{"description":"Validation Error","schema":{"$ref":"ValidationError"}},"500":{"description":"Server Error","schema":{"$ref":"Error"}},"200":{"description":"Created User","schema":{"$ref":"User"}}}}},"/users/search":{"get":{"tags":["User"],"operationId":"search_users","summary":"search users","description":"### Search users.\n","x-looker-status":"beta","parameters":[{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"},{"name":"page","in":"query","description":"Requested page.","required":false,"type":"integer","format":"int64"},{"name":"per_page","in":"query","description":"Results per page.","required":false,"type":"integer","format":"int64"},{"name":"sorts","in":"query","description":"Fields to sort by.","required":false,"type":"string"},{"name":"id","in":"query","description":"Match User Id.","required":false,"type":"integer","format":"int64"},{"name":"first_name","in":"query","description":"Match First name.","required":false,"type":"string"},{"name":"last_name","in":"query","description":"Match Last name.","required":false,"type":"string"},{"name":"verified_looker_employee","in":"query","description":"Match Verified Looker employee.","required":false,"type":"boolean"},{"name":"email","in":"query","description":"Match Email Address.","required":false,"type":"string"},{"name":"is_disabled","in":"query","description":"Match Is disabled.","required":false,"type":"boolean"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Matching users.","schema":{"type":"array","items":{"$ref":"User"}}}}}},"/users/search/names/{pattern}":{"get":{"tags":["User"],"operationId":"search_users_names","summary":"search users names","description":"### Search users where first_name OR last_name OR email matches a string.\n\nThe results will be AND'd with any additional search parameters that are (optionally) included.\n","x-looker-status":"beta","parameters":[{"name":"pattern","in":"path","description":"Pattern to match.","required":true,"type":"string"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"},{"name":"page","in":"query","description":"Requested page.","required":false,"type":"integer","format":"int64"},{"name":"per_page","in":"query","description":"Results per page.","required":false,"type":"integer","format":"int64"},{"name":"sorts","in":"query","description":"Fields to sort by.","required":false,"type":"string"},{"name":"id","in":"query","description":"Match User Id.","required":false,"type":"integer","format":"int64"},{"name":"first_name","in":"query","description":"Match First name.","required":false,"type":"string"},{"name":"last_name","in":"query","description":"Match Last name.","required":false,"type":"string"},{"name":"verified_looker_employee","in":"query","description":"Match Verified Looker employee.","required":false,"type":"boolean"},{"name":"email","in":"query","description":"Match Email Address.","required":false,"type":"string"},{"name":"is_disabled","in":"query","description":"Match Is disabled.","required":false,"type":"boolean"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Matching users.","schema":{"type":"array","items":{"$ref":"User"}}}}}},"/users/{user_id}":{"get":{"tags":["User"],"operationId":"user","summary":"Get a user","description":"### Get information about the user with a specific id.\n\nIf the caller is an admin or the caller is the user being specified, then full user information will\nbe returned. Otherwise, a minimal 'public' variant of the user information will be returned. This contains\nThe user name and avatar url, but no sensitive information.\n","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"Id of user","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Specified user.","schema":{"$ref":"User"}}}},"delete":{"tags":["User"],"operationId":"delete_user","summary":"delete a user","description":"### Delete the user with a specific id.\n\n**DANGER** this will delete the user and all looks and other information owned by the user.\n","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"Id of user","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"User successfully deleted.","schema":{"type":"string"}}}},"patch":{"tags":["User"],"operationId":"update_user","summary":"update a user","description":"### Update information about the user with a specific id.\n","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"Id of user","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"User","required":true,"schema":{"$ref":"User"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"New state for specified user.","schema":{"$ref":"User"}}}}},"/users/{user_id}/credentials_email":{"get":{"tags":["User"],"operationId":"user_credentials_email","summary":"get email/password credential","description":"### Email/password login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"email/password credential","schema":{"$ref":"CredentialsEmail"}}}},"post":{"tags":["User"],"operationId":"create_user_credentials_email","summary":"create email/password credential","description":"### Email/password login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"email/password credential","required":false,"schema":{"$ref":"CredentialsEmail"}},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"email/password credential","schema":{"$ref":"CredentialsEmail"}}}},"patch":{"tags":["User"],"operationId":"update_user_credentials_email","summary":"update email/password credential","description":"### Email/password login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"email/password credential","required":true,"schema":{"$ref":"CredentialsEmail"}},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"email/password credential","schema":{"$ref":"CredentialsEmail"}}}},"delete":{"tags":["User"],"operationId":"delete_user_credentials_email","summary":"delete email/password credential","description":"### Email/password login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/users/{user_id}/credentials_totp":{"get":{"tags":["User"],"operationId":"user_credentials_totp","summary":"get Two-factor credential","description":"### Two-factor login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Two-factor credential","schema":{"$ref":"CredentialsTotp"}}}},"post":{"tags":["User"],"operationId":"create_user_credentials_totp","summary":"create Two-factor credential","description":"### Two-factor login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Two-factor credential","required":false,"schema":{"$ref":"CredentialsTotp"}},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Two-factor credential","schema":{"$ref":"CredentialsTotp"}}}},"delete":{"tags":["User"],"operationId":"delete_user_credentials_totp","summary":"delete Two-factor credential","description":"### Two-factor login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/users/{user_id}/credentials_api":{"get":{"tags":["User"],"operationId":"user_credentials_api","summary":"get API credential","description":"### API login information for the specified user. This is for 'API Users' used for the 'old' query API.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"API credential","schema":{"$ref":"CredentialsApi"}}}},"post":{"tags":["User"],"operationId":"create_user_credentials_api","summary":"create API credential","description":"### API login information for the specified user. This is for 'API Users' used for the 'old' query API.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"API credential","required":false,"schema":{"$ref":"CredentialsApi"}},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"API credential","schema":{"$ref":"CredentialsApi"}}}},"delete":{"tags":["User"],"operationId":"delete_user_credentials_api","summary":"delete API credential","description":"### API login information for the specified user. This is for 'API Users' used for the 'old' query API.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/users/{user_id}/credentials_ldap":{"get":{"tags":["User"],"operationId":"user_credentials_ldap","summary":"get LDAP credential","description":"### LDAP login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"LDAP credential","schema":{"$ref":"CredentialsLDAP"}}}},"delete":{"tags":["User"],"operationId":"delete_user_credentials_ldap","summary":"delete LDAP credential","description":"### LDAP login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/users/{user_id}/credentials_google":{"get":{"tags":["User"],"operationId":"user_credentials_google","summary":"get Google auth credential","description":"### Google authentication login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Google auth credential","schema":{"$ref":"CredentialsGoogle"}}}},"delete":{"tags":["User"],"operationId":"delete_user_credentials_google","summary":"delete Google auth credential","description":"### Google authentication login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/users/{user_id}/credentials_saml":{"get":{"tags":["User"],"operationId":"user_credentials_saml","summary":"get Saml auth credential","description":"### Saml authentication login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Saml auth credential","schema":{"$ref":"CredentialsSaml"}}}},"delete":{"tags":["User"],"operationId":"delete_user_credentials_saml","summary":"delete Saml auth credential","description":"### Saml authentication login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/users/{user_id}/credentials_api3/{credentials_api3_id}":{"get":{"tags":["User"],"operationId":"user_credentials_api3","summary":"get API 3 credential","description":"### API 3 login information for the specified user. This is for the newer API keys that can be added for any user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"Id of user","required":true,"type":"integer","format":"int64"},{"name":"credentials_api3_id","in":"path","description":"Id of API 3 credential","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"API 3 credential","schema":{"$ref":"CredentialsApi3"}}}},"delete":{"tags":["User"],"operationId":"delete_user_credentials_api3","summary":"delete API 3 credential","description":"### API 3 login information for the specified user. This is for the newer API keys that can be added for any user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"credentials_api3_id","in":"path","description":"id of API 3 credential","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/users/{user_id}/credentials_api3":{"get":{"tags":["User"],"operationId":"all_user_credentials_api3s","summary":"get all API 3 credentials","description":"### API 3 login information for the specified user. This is for the newer API keys that can be added for any user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"API 3 credential","schema":{"type":"array","items":{"$ref":"CredentialsApi3"}}}}},"post":{"tags":["User"],"operationId":"create_user_credentials_api3","summary":"create API 3 credential","description":"### API 3 login information for the specified user. This is for the newer API keys that can be added for any user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"API 3 credential","required":false,"schema":{"$ref":"CredentialsApi3"}},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"API 3 credential","schema":{"$ref":"CredentialsApi3"}}}}},"/users/{user_id}/credentials_embed/{credentials_embed_id}":{"get":{"tags":["User"],"operationId":"user_credentials_embed","summary":"get Embedding credential","description":"### Embed login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"Id of user","required":true,"type":"integer","format":"int64"},{"name":"credentials_embed_id","in":"path","description":"Id of Embedding credential","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Embedding credential","schema":{"$ref":"CredentialsEmbed"}}}},"delete":{"tags":["User"],"operationId":"delete_user_credentials_embed","summary":"delete Embedding credential","description":"### Embed login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"credentials_embed_id","in":"path","description":"id of Embedding credential","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/users/{user_id}/credentials_embed":{"get":{"tags":["User"],"operationId":"all_user_credentials_embeds","summary":"get all Embedding credentials","description":"### Embed login information for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Embedding credential","schema":{"type":"array","items":{"$ref":"CredentialsEmbed"}}}}}},"/users/{user_id}/credentials_looker_openid":{"get":{"tags":["User"],"operationId":"user_credentials_looker_openid","summary":"get Looker Openid credential","description":"### Looker Openid login information for the specified user. Used by Looker Analysts.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Looker Openid credential","schema":{"$ref":"CredentialsLookerOpenid"}}}},"delete":{"tags":["User"],"operationId":"delete_user_credentials_looker_openid","summary":"delete Looker Openid credential","description":"### Looker Openid login information for the specified user. Used by Looker Analysts.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/users/{user_id}/sessions/{session_id}":{"get":{"tags":["User"],"operationId":"user_session","summary":"get Web login session","description":"### Web login session for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"Id of user","required":true,"type":"integer","format":"int64"},{"name":"session_id","in":"path","description":"Id of Web login session","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Web login session","schema":{"$ref":"Session"}}}},"delete":{"tags":["User"],"operationId":"delete_user_session","summary":"delete Web login session","description":"### Web login session for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"session_id","in":"path","description":"id of Web login session","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/users/{user_id}/sessions":{"get":{"tags":["User"],"operationId":"all_user_sessions","summary":"get all Web login sessions","description":"### Web login session for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Web login session","schema":{"type":"array","items":{"$ref":"Session"}}}}}},"/users/{user_id}/access_filters/{access_filter_id}":{"get":{"tags":["User"],"operationId":"user_access_filter","summary":"get Access filter","description":"### Access filter for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"Id of user","required":true,"type":"integer","format":"int64"},{"name":"access_filter_id","in":"path","description":"Id of Access filter","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Access filter","schema":{"$ref":"AccessFilter"}}}},"patch":{"tags":["User"],"operationId":"update_user_access_filter","summary":"update Access filter","description":"### Access filter for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"access_filter_id","in":"path","description":"id of Access filter","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Access filter","required":true,"schema":{"$ref":"AccessFilter"}},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Access filter","schema":{"$ref":"AccessFilter"}}}},"delete":{"tags":["User"],"operationId":"delete_user_access_filter","summary":"delete Access filter","description":"### Access filter for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"access_filter_id","in":"path","description":"id of Access filter","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/users/{user_id}/access_filters":{"get":{"tags":["User"],"operationId":"all_user_access_filters","summary":"get all Access filters","description":"### Access filter for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Access filter","schema":{"type":"array","items":{"$ref":"AccessFilter"}}}}},"post":{"tags":["User"],"operationId":"create_user_access_filter","summary":"create Access filter","description":"### Access filter for the specified user.","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Access filter","required":false,"schema":{"$ref":"AccessFilter"}},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Access filter","schema":{"$ref":"AccessFilter"}}}}},"/users/{user_id}/credentials_email/password_reset":{"post":{"tags":["User"],"operationId":"create_user_credentials_email_password_reset","summary":"create a email/password credential password reset token","description":"### Create a password reset token.\nThis will create a cryptographically secure random password reset token for the user.\nIf the user already has a password reset token then this invalidates the old token and creates a new one.\nThe token is expressed as the 'password_reset_url' of the user's email/password credential object.\nThis takes an optional 'expires' param to indicate if the new token should be an expiring token.\nTokens that expire are typically used for self-service password resets for existing users.\nInvitiation emails for new users typically are not set to expire.\nThe expire period is always 60 minutes when expires is enabled.\nThis method can be called with an empty body.\n","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"Id of user","required":true,"type":"integer","format":"int64"},{"name":"expires","in":"query","description":"Expiring token.","required":false,"type":"boolean"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"email/password credential","schema":{"$ref":"CredentialsEmail"}}}}},"/users/{user_id}/roles":{"get":{"tags":["User"],"operationId":"user_roles","summary":"Get roles for a user","description":"### Get information about roles of the user with a specific id.\n","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Roles of user.","schema":{"type":"array","items":{"$ref":"Role"}}}}},"put":{"tags":["User"],"operationId":"set_user_roles","summary":"Set roles for a user","description":"### Set roles of the user with a specific id.\n","x-looker-status":"beta","parameters":[{"name":"user_id","in":"path","description":"id of user","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"array of roles ids for user","required":true,"schema":{"type":"array","items":{"type":"integer","format":"int64"}}},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Roles of user.","schema":{"type":"array","items":{"$ref":"Role"}}}}}},"/running_queries":{"get":{"tags":["RunningQueries"],"operationId":"all_running_queries","summary":"get all running queries","description":"Get information about all running queries.\n","x-looker-status":"beta","responses":{"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Running Queries.","schema":{"type":"array","items":{"$ref":"RunningQueries"}}}}}},"/running_queries/{query_slug}":{"delete":{"tags":["RunningQueries"],"operationId":"kill_query","summary":"Kill a running query","description":"Kill a query with a specific slug.\n","x-looker-status":"beta","parameters":[{"name":"query_slug","in":"path","description":"query slug","required":true,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"422":{"description":"Validation Error","schema":{"$ref":"ValidationError"}}}}},"/scheduled_plans/space/{space_id}":{"get":{"tags":["ScheduledPlan"],"operationId":"scheduled_plans_by_space","summary":"get all scheduled plans for a given space for the requesting user","description":"### Get scheduled plans by using a space id for the requesting user","x-looker-status":"undocumented","parameters":[{"name":"space_id","in":"path","description":"Space Id","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"scheduled plan","schema":{"type":"array","items":{"$ref":"ScheduledPlan"}}}}}},"/scheduled_plans/look/{look_id}":{"get":{"tags":["ScheduledPlan"],"operationId":"scheduled_plans_by_look","summary":"get all scheduled plans for a given look for the requesting user","description":"### Get scheduled plans by using a look id for the requesting user","x-looker-status":"undocumented","parameters":[{"name":"look_id","in":"path","description":"Look Id","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"scheduled plan","schema":{"type":"array","items":{"$ref":"ScheduledPlan"}}}}}},"/scheduled_plans/dashboard/{dashboard_id}":{"get":{"tags":["ScheduledPlan"],"operationId":"scheduled_plans_by_dashboard","summary":"get all scheduled plans for a given dashboard for the requesting user","description":"### Get scheduled plans by using a dashboard id for the requesting user","x-looker-status":"undocumented","parameters":[{"name":"dashboard_id","in":"path","description":"Dashboard Id","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"scheduled plan","schema":{"type":"array","items":{"$ref":"ScheduledPlan"}}}}}},"/scheduled_plans/lookml_dashboard/{lookml_dashboard_id}":{"get":{"tags":["ScheduledPlan"],"operationId":"scheduled_plans_by_lookml_dashboard","summary":"get all scheduled plans for a given lookml dashboard for the requesting user","description":"### Get scheduled plans by using a LookML dashboard id for the requesting user","x-looker-status":"undocumented","parameters":[{"name":"lookml_dashboard_id","in":"path","description":"LookML Dashboard Id","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"scheduled plan","schema":{"type":"array","items":{"$ref":"ScheduledPlan"}}}}}},"/scheduled_plans":{"get":{"tags":["ScheduledPlan"],"operationId":"all_scheduled_plans","summary":"get all scheduled plans","description":"### List all scheduled plans which belong to the requesting user","x-looker-status":"undocumented","responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"scheduled plan","schema":{"type":"array","items":{"$ref":"ScheduledPlan"}}}}},"post":{"tags":["ScheduledPlan"],"operationId":"create_scheduled_plan","summary":"create scheduled plan","description":"### Schedule a Look or Dashboard by creating a scheduled plan","x-looker-status":"undocumented","parameters":[{"name":"body","in":"body","description":"scheduled plan","required":false,"schema":{"$ref":"ScheduledPlan"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"scheduled plan","schema":{"$ref":"ScheduledPlan"}}}}},"/scheduled_plans/{scheduled_plan_id}":{"get":{"tags":["ScheduledPlan"],"operationId":"scheduled_plan","summary":"get scheduled plan","description":"### Get information about a scheduled plan","x-looker-status":"undocumented","parameters":[{"name":"scheduled_plan_id","in":"path","description":"Scheduled Plan Id","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"scheduled plan","schema":{"$ref":"ScheduledPlan"}}}},"patch":{"tags":["ScheduledPlan"],"operationId":"update_scheduled_plan","summary":"update scheduled plan","description":"### Update the scheduled plan with the specified id","x-looker-status":"undocumented","parameters":[{"name":"scheduled_plan_id","in":"path","description":"Scheduled Plan Id","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"scheduled plan","required":true,"schema":{"$ref":"ScheduledPlan"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"scheduled plan","schema":{"$ref":"ScheduledPlan"}}}},"delete":{"tags":["ScheduledPlan"],"operationId":"delete_scheduled_plan","summary":"delete scheduled plan","description":"### Delete the scheduled plan with the specified id","x-looker-status":"undocumented","parameters":[{"name":"scheduled_plan_id","in":"path","description":"Scheduled Plan Id","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/dashboards":{"get":{"tags":["Dashboard"],"operationId":"all_dashboards","summary":"get all dashboards","description":"Get information about all dashboards.","x-looker-status":"beta","parameters":[{"name":"fields","in":"query","description":"Requested fieds.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"dashboards","schema":{"type":"array","items":{"$ref":"DashboardBase"}}}}},"post":{"tags":["Dashboard"],"operationId":"create_dashboard","summary":"create dashboard","description":"### Create a dashboard with specified information.","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"dashboard","required":false,"schema":{"$ref":"Dashboard"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"dashboard","schema":{"$ref":"Dashboard"}}}}},"/dashboards/{dashboard_id}":{"delete":{"tags":["Dashboard"],"operationId":"delete_dashboard","summary":"delete dashboard","description":"### Delete the dashboard with a specific id.","x-looker-status":"beta","parameters":[{"name":"dashboard_id","in":"path","description":"Id of dashboard","required":true,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}},"patch":{"tags":["Dashboard"],"operationId":"update_dashboard","summary":"update dashboard","description":"### Update the dashboard with a specific id.","x-looker-status":"beta","parameters":[{"name":"dashboard_id","in":"path","description":"Id of dashboard","required":true,"type":"string"},{"name":"body","in":"body","description":"dashboard","required":true,"schema":{"$ref":"Dashboard"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"dashboard","schema":{"$ref":"Dashboard"}}}},"get":{"tags":["Dashboard"],"operationId":"dashboard","summary":"get dashboard","description":"### Get information about the dashboard with a specific id.","x-looker-status":"beta","parameters":[{"name":"dashboard_id","in":"path","description":"Id of dashboard","required":true,"type":"string"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"dashboard","schema":{"$ref":"Dashboard"}}}}},"/dashboards/move_plan":{"get":{"tags":["Dashboard"],"operationId":"dashboards_move_plan","summary":"plan for moving dashboards to space","description":"### Plan for moving dashboards with specified ids.","x-looker-status":"beta","parameters":[{"name":"space_id","in":"query","description":"Destination space id.","required":false,"type":"string"},{"name":"dashboard_ids","in":"query","description":"Dashboard ids to move.","required":false,"type":"array","items":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"dashboard","schema":{"$ref":"LookMovePlan"}}}}},"/dashboards/move":{"patch":{"tags":["Dashboard"],"operationId":"move_dashboards","summary":"move dashboards to space","description":"### Move dashboards with specified ids to space","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"dashboard","required":true,"schema":{"$ref":"Dashboard"}},{"name":"space_id","in":"query","description":"Destination space id.","required":false,"type":"string"},{"name":"dashboard_ids","in":"query","description":"Dashboard ids to move.","required":false,"type":"array","items":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Empty string response.","schema":{"type":"string"}}}}},"/dashboards/copy":{"post":{"tags":["Dashboard"],"operationId":"copy_dashboards","summary":"copy dashboards to space","description":"### Copy dashboards with specified ids to space","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"dashboard","required":false,"schema":{"$ref":"Dashboard"}},{"name":"space_id","in":"query","description":"Destination space id.","required":false,"type":"string"},{"name":"dashboard_ids","in":"query","description":"Dashboard ids to copy.","required":false,"type":"array","items":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Empty string response.","schema":{"type":"string"}}}}},"/dashboards/{dashboard_id}/prefetch":{"get":{"tags":["Dashboard"],"operationId":"dashboard_prefetch","summary":"get a prefetch","description":"### Get a prefetch for a dashboard with the specified information.\n","x-looker-status":"beta","parameters":[{"name":"dashboard_id","in":"path","description":"Id of dashboard","required":true,"type":"string"},{"name":"dashboard_filters","in":"query","description":"JSON encoded string of Dashboard filters that were applied to prefetch","required":false,"type":"array","items":{"$ref":"PrefetchDashboardFilterValue"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Prefetch","schema":{"$ref":"PrefetchMapper"}}}},"post":{"tags":["Dashboard"],"operationId":"create_dashboard_prefetch","summary":"create a prefetch","description":"### Create a prefetch for a dashboard with the specified information.\n","x-looker-status":"beta","parameters":[{"name":"dashboard_id","in":"path","description":"Id of dashboard","required":true,"type":"string"},{"name":"body","in":"body","description":"Parameters for prefetch request","required":false,"schema":{"$ref":"PrefetchDashboardRequestMapper"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"409":{"description":"Resource Already Exists","schema":{"$ref":"Error"}},"422":{"description":"Validation Error","schema":{"$ref":"ValidationError"}},"200":{"description":"Newly created Prefetch","schema":{"$ref":"PrefetchDashboardRequestMapper"}}}}},"/permission_sets/{permission_set_id}":{"get":{"tags":["Role"],"operationId":"permission_set","summary":"Get a permission set","description":"### Get information about the permission set with a specific id.\n","x-looker-status":"beta","parameters":[{"name":"permission_set_id","in":"path","description":"Id of permission set","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Specified permission set.","schema":{"$ref":"PermissionSet"}}}},"delete":{"tags":["Role"],"operationId":"delete_permission_set","summary":"delete a permission set","description":"### Delete the permission set with a specific id.\n","x-looker-status":"beta","parameters":[{"name":"permission_set_id","in":"path","description":"Id of permission set","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Permission set succssfully deleted.","schema":{"type":"string"}}}},"patch":{"tags":["Role"],"operationId":"update_permission_set","summary":"update a permission set","description":"### Update information about the permission set with a specific id.\n","x-looker-status":"beta","parameters":[{"name":"permission_set_id","in":"path","description":"id of permission set","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"PermissionSet","required":true,"schema":{"$ref":"PermissionSet"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"New state for specified permission set.","schema":{"$ref":"PermissionSet"}}}}},"/permission_sets":{"get":{"tags":["Role"],"operationId":"all_permission_sets","summary":"get all permission sets","description":"### Get information about all permission sets.\n","x-looker-status":"beta","parameters":[{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"All permission sets.","schema":{"type":"array","items":{"$ref":"PermissionSet"}}}}},"post":{"tags":["Role"],"operationId":"create_permission_set","summary":"create a permission set","description":"### Create a permission set with the specified information. Permission sets are used by Roles.\n","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"PermissionSet","required":false,"schema":{"$ref":"PermissionSet"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"409":{"description":"Resource Already Exists","schema":{"$ref":"Error"}},"422":{"description":"Validation Error","schema":{"$ref":"ValidationError"}},"500":{"description":"Server Error","schema":{"$ref":"Error"}},"200":{"description":"Newly created PermissionSet","schema":{"$ref":"PermissionSet"}}}}},"/legacy_features":{"get":{"tags":["Config"],"operationId":"all_legacy_features","summary":"get all legacy features","description":"### Get all legacy features.","x-looker-status":"beta","responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"legacy feature","schema":{"type":"array","items":{"$ref":"LegacyFeature"}}}}}},"/legacy_features/{legacy_feature_id}":{"get":{"tags":["Config"],"operationId":"legacy_feature","summary":"get legacy feature","description":"### Get information about the legacy feature with a specific id.","x-looker-status":"beta","parameters":[{"name":"legacy_feature_id","in":"path","description":"id of legacy feature","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"legacy feature","schema":{"$ref":"LegacyFeature"}}}},"patch":{"tags":["Config"],"operationId":"update_legacy_feature","summary":"update legacy feature","description":"### Update information about the legacy feature with a specific id.","x-looker-status":"beta","parameters":[{"name":"legacy_feature_id","in":"path","description":"id of legacy feature","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"legacy feature","required":true,"schema":{"$ref":"LegacyFeature"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"legacy feature","schema":{"$ref":"LegacyFeature"}}}}},"/login":{"post":{"tags":["ApiAuth"],"operationId":"login","summary":"login","description":"### Login in order to use the API.\n","x-looker-status":"beta","parameters":[{"name":"client_id","in":"query","description":"client_id part of API3 Key.","required":false,"type":"string"},{"name":"client_secret","in":"query","description":"client_secret part of API3 Key.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Access token with metadata.","schema":{"$ref":"AccessToken"}}}}},"/logout":{"delete":{"tags":["ApiAuth"],"operationId":"logout","summary":"logout","description":"### Logout of the API and invalidate the current access token.\n","x-looker-status":"beta","responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Logged out successfully.","schema":{"type":"string"}}}}},"/spaces/{space_id}":{"get":{"tags":["Space"],"operationId":"space","summary":"get space","description":"### Get information about the space with a specific id.","x-looker-status":"beta","parameters":[{"name":"space_id","in":"path","description":"Id of space","required":true,"type":"string"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"space","schema":{"$ref":"Space"}}}},"delete":{"tags":["Space"],"operationId":"delete_space","summary":"delete space","description":"### Delete the space with a specific id including any children spaces.\n**DANGER** this will delete all looks and dashboards in the space.\n","x-looker-status":"beta","parameters":[{"name":"space_id","in":"path","description":"Id of space","required":true,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}},"patch":{"tags":["Space"],"operationId":"update_space","summary":"update space","description":"### Update the space with a specific id.","x-looker-status":"beta","parameters":[{"name":"space_id","in":"path","description":"Id of space","required":true,"type":"string"},{"name":"body","in":"body","description":"space","required":true,"schema":{"$ref":"Space"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"space","schema":{"$ref":"Space"}}}}},"/spaces":{"get":{"tags":["Space"],"operationId":"all_spaces","summary":"get all spaces","description":"### Get information about all spaces.","x-looker-status":"beta","parameters":[{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"space","schema":{"type":"array","items":{"$ref":"SpaceBase"}}}}},"post":{"tags":["Space"],"operationId":"create_space","summary":"create space","description":"### Create a space with specified information.","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"space","required":false,"schema":{"$ref":"Space"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"space","schema":{"$ref":"Space"}}}}},"/spaces/{space_id}/children":{"get":{"tags":["Space"],"operationId":"space_children","summary":"get children of space","description":"### Get a space's children","x-looker-status":"beta","parameters":[{"name":"space_id","in":"path","description":"Id of space","required":true,"type":"string"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"},{"name":"page","in":"query","description":"Requested page.","required":false,"type":"integer","format":"int64"},{"name":"per_page","in":"query","description":"Results per page.","required":false,"type":"integer","format":"int64"},{"name":"sorts","in":"query","description":"Fields to sort by.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"space","schema":{"$ref":"Space"}}}}},"/spaces/{space_id}/children/search":{"get":{"tags":["Space"],"operationId":"space_children_search","summary":"search children of space","description":"### Search a space's children","x-looker-status":"beta","parameters":[{"name":"space_id","in":"path","description":"Id of space","required":true,"type":"string"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"},{"name":"sorts","in":"query","description":"Fields to sort by.","required":false,"type":"string"},{"name":"name","in":"query","description":"Match Space name.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"space","schema":{"$ref":"Space"}}}}},"/spaces/{space_id}/parent":{"get":{"tags":["Space"],"operationId":"space_parent","summary":"get parent of space","description":"### Get a space's parent","x-looker-status":"beta","parameters":[{"name":"space_id","in":"path","description":"Id of space","required":true,"type":"string"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"space","schema":{"$ref":"Space"}}}}},"/spaces/{space_id}/ancestors":{"get":{"tags":["Space"],"operationId":"space_ancestors","summary":"get ancestors of space","description":"### Get a space's ancestors","x-looker-status":"beta","parameters":[{"name":"space_id","in":"path","description":"Id of space","required":true,"type":"string"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"space","schema":{"$ref":"Space"}}}}},"/backup_configuration":{"get":{"tags":["Config"],"operationId":"backup_configuration","summary":"get backup configuration","description":"### Get the current backup configuration\n","x-looker-status":"beta","responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Current Backup Configuration","schema":{"$ref":"BackupConfiguration"}}}},"patch":{"tags":["Config"],"operationId":"update_backup_configuration","summary":"update backup configuration","description":"### Update Looker Backup Configuration\n","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"Options for Backup Configuration","required":true,"schema":{"$ref":"BackupConfiguration"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"New state for specified model set.","schema":{"$ref":"BackupConfiguration"}}}}},"/projects/{project_id}/reset_to_production":{"post":{"tags":["Project"],"operationId":"reset_project_to_production","summary":"Reset a project to the version that is in production.","description":"### Reset a project with a specified ID to the version of the project that is in production.\n\n**DANGER** this will delete any changes that have not been pushed to a remote repository.\n","x-looker-status":"beta","parameters":[{"name":"project_id","in":"path","description":"Id of project","required":true,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Project successfully reset.","schema":{"type":"boolean"}}}}},"/connections":{"get":{"tags":["Connection"],"operationId":"all_connections","summary":"get all connections","description":"### Get information about all connections.\n","x-looker-status":"beta","parameters":[{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"connection","schema":{"type":"array","items":{"$ref":"DBConnection"}}}}},"post":{"tags":["Connection"],"operationId":"create_connection","summary":"create connection","description":"### Create a connection using the specified configuration.\n","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"connection","required":false,"schema":{"$ref":"DBConnection"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"connection","schema":{"$ref":"DBConnection"}}}}},"/connections/{connection_name}":{"get":{"tags":["Connection"],"operationId":"connection","summary":"get connection","description":"### Get information about a connection.\n","x-looker-status":"beta","parameters":[{"name":"connection_name","in":"path","description":"Name of connection","required":true,"type":"string"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"connection","schema":{"$ref":"DBConnection"}}}},"patch":{"tags":["Connection"],"operationId":"update_connection","summary":"update connection","description":"### Update a connection using the specified configuration.\n","x-looker-status":"beta","parameters":[{"name":"connection_name","in":"path","description":"Name of connection","required":true,"type":"string"},{"name":"body","in":"body","description":"connection","required":true,"schema":{"$ref":"DBConnection"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"connection","schema":{"$ref":"DBConnection"}}}},"delete":{"tags":["Connection"],"operationId":"delete_connection","summary":"delete connection","description":"### Delete a connection.\n","x-looker-status":"beta","parameters":[{"name":"connection_name","in":"path","description":"Name of connection","required":true,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/connections/{connection_name}/test":{"put":{"tags":["Connection"],"operationId":"test_connection","summary":"test existing connection","description":"### Test an existing connection.\n\nNote that a connection's 'dialect' property has a 'connection_tests' property that lists the\nspecific types of tests that the connection supports.\n\nUnsupported tests in the request will be ignored.\n","x-looker-status":"beta","parameters":[{"name":"connection_name","in":"path","description":"Name of connection","required":true,"type":"string"},{"name":"tests","in":"query","description":"Array of names of tests to run","required":false,"type":"array","items":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Test results","schema":{"$ref":"DBConnectionTestResult"}}}}},"/connections/test":{"put":{"tags":["Connection"],"operationId":"test_connection_config","summary":"test connection configuration","description":"### Test a connection configuration.\n\nNote that a connection's 'dialect' property has a 'connection_tests' property that lists the\nspecific types of tests that the connection supports.\n\nUnsupported tests in the request will be ignored.\n","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"Connection","required":false,"schema":{"$ref":"DBConnection"}},{"name":"tests","in":"query","description":"Array of names of tests to run","required":false,"type":"array","items":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Test results","schema":{"$ref":"DBConnectionTestResult"}}}}},"/dialect_info":{"get":{"tags":["Connection"],"operationId":"all_dialect_infos","summary":"get all dialect infos","description":"### Get information about all dialects.\n","x-looker-status":"beta","parameters":[{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"dialect info","schema":{"type":"array","items":{"$ref":"DialectInfo"}}}}}},"/permissions":{"get":{"tags":["Role"],"operationId":"all_permissions","summary":"get all permissions","description":"### Get all supported permissions.","x-looker-status":"beta","responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"permission","schema":{"type":"array","items":{"$ref":"Permission"}}}}}},"/sql_queries/{slug}":{"get":{"tags":["SqlQuery"],"operationId":"sql_query","summary":"get SQL Runner query","description":"get a sql runner query","x-looker-status":"beta","parameters":[{"name":"slug","in":"path","description":"slug of query","required":true,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"SQL Runner query","schema":{"$ref":"SqlQuery"}}}}},"/sql_queries":{"post":{"tags":["SqlQuery"],"operationId":"create_sql_query","summary":"create SQL Runner query","description":"create a sql runner query","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"SQL Runner query","required":false,"schema":{"$ref":"SqlQuery"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"SQL Runner query","schema":{"$ref":"SqlQuery"}}}}},"/saml_config":{"get":{"tags":["Auth"],"operationId":"saml_config","summary":"get saml configuration","description":"### Get the SAML configuration.\n\nLooker can be optionally configured to authenticate users against a SAML authentication server.\nSAML setup requires coordination with an administrator of that server.\n\nOnly Looker administrators can read and update the SAML configuration.\n\nConfiguring SAML impacts authentication for all users. This configuration should be done carefully.\n\nLooker maintains a single SAML configuation. It can be read and updated.       Updates only succeed if the new state will be valid (in the sense that all required fields are populated);       it is up to you to ensure that the configuration is appropriate and correct).\n\nSAML is enabled or disabled for Looker using the **enabled** field.\n","x-looker-status":"beta","responses":{"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"SAML Configuration.","schema":{"$ref":"SamlConfig"}}}},"patch":{"tags":["Auth"],"operationId":"update_saml_config","summary":"update saml configuration","description":"### Update the SAML configuration.\n\nConfiguring SAML impacts authentication for all users. This configuration should be done carefully.\n\nOnly Looker administrators can read and update the SAML configuration.\n\nSAML is enabled or disabled for Looker using the **enabled** field.\n\nIt is **highly** recommended that any SAML setting changes be tested using the APIs below before being set globally.\n","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"SAML Config","required":true,"schema":{"$ref":"SamlConfig"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"New state for SAML Configuration.","schema":{"$ref":"SamlConfig"}}}}},"/saml_test_configs/{test_slug}":{"get":{"tags":["Auth"],"operationId":"saml_test_config","summary":"get saml test configuration","description":"### Get a SAML test configuration by test_slug.\n","x-looker-status":"beta","parameters":[{"name":"test_slug","in":"path","description":"Slug of test config","required":true,"type":"string"}],"responses":{"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"SAML test config.","schema":{"$ref":"SamlConfig"}}}},"delete":{"tags":["Auth"],"operationId":"delete_saml_test_config","summary":"delete saml test configuration","description":"### Delete a SAML test configuration.\n","x-looker-status":"beta","parameters":[{"name":"test_slug","in":"path","description":"Slug of test config","required":true,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Test config succssfully deleted.","schema":{"type":"string"}}}}},"/saml_test_configs":{"post":{"tags":["Auth"],"operationId":"create_saml_test_config","summary":"create saml test configuration","description":"### Create a SAML test configuration.\n","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"SAML test config","required":true,"schema":{"$ref":"SamlConfig"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"SAML test config","schema":{"$ref":"SamlConfig"}}}}},"/parse_saml_idp_metadata":{"post":{"tags":["Auth"],"operationId":"parse_saml_idp_metadata","summary":"parse saml idp metadata xml","description":"### Parse the given xml as a Saml IdP metadata document and return the result.\n","x-looker-status":"beta","consumes":["text/plain"],"parameters":[{"name":"body","in":"body","description":"SAML IdP metadata xml","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Parse result","schema":{"$ref":"SamlMetadataParseResult"}}}}},"/fetch_and_parse_saml_idp_metadata":{"post":{"tags":["Auth"],"operationId":"fetch_and_parse_saml_idp_metadata","summary":"fetch and parse saml idp metadata xml","description":"### Fetch the given url and parse it as a Saml IdP metadata document and return the result.\nNote that this requires that the url be public or at least at a location where the Looker instance\ncan fetch it without requiring any special authentication.\n","x-looker-status":"beta","consumes":["text/plain"],"parameters":[{"name":"body","in":"body","description":"SAML IdP metadata public url","required":true,"schema":{"type":"string"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Parse result","schema":{"$ref":"SamlMetadataParseResult"}}}}},"/uploads/{upload_id}/lookml":{"get":{"tags":["Upload"],"operationId":"get_upload_lookml","summary":"Get the generated lookml for a table created via upload","description":"### Get the generated lookML for an uploaded table\n\n**License feature may not be available on your Looker\nBeta feature not frozen**\n\n","x-looker-status":"undocumented","parameters":[{"name":"upload_id","in":"path","description":"Id of uploaded table","required":true,"type":"integer","format":"int64"}],"responses":{"404":{"description":"Not Found","schema":{"$ref":"Error"}},"422":{"description":"Validation Error","schema":{"$ref":"ValidationError"}},"200":{"description":"Generated lookml for specified upload.","schema":{"type":"string"}}}}},"/uploads/{upload_id}":{"get":{"tags":["Upload"],"operationId":"get_upload","summary":"Get table definition for an upload","description":"### Get information about the specified upload table\n","x-looker-status":"undocumented","parameters":[{"name":"upload_id","in":"path","description":"Id of uploaded table","required":true,"type":"integer","format":"int64"}],"responses":{"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Specified upload table.","schema":{"$ref":"UploadTable"}}}},"delete":{"tags":["Upload"],"operationId":"delete_upload","summary":"Delete UploadTable and drop upload created table if exists","description":"### Drop the uploaded table with a specific id.\n","x-looker-status":"undocumented","parameters":[{"name":"upload_id","in":"path","description":"Id of uploaded table","required":true,"type":"integer","format":"int64"}],"responses":{"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Upload table successfully deleted.","schema":{"type":"boolean"}}}},"put":{"tags":["Upload"],"operationId":"update_upload","summary":"Update upload table definition and create/load the DB table","description":"### Update the upload table definition and create/load the DB table\n","x-looker-status":"undocumented","parameters":[{"name":"upload_id","in":"path","description":"Id of upload table","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"Specified upload table","required":true,"schema":{"$ref":"UploadTable"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"405":{"description":"Resource Can't Be Modified","schema":{"$ref":"Error"}},"422":{"description":"Validation Error","schema":{"$ref":"ValidationError"}},"200":{"description":"Updated upload table.","schema":{"$ref":"UploadTable"}}}},"post":{"tags":["Upload"],"operationId":"load_upload","summary":"Upload contents of a file to create and load a table in the DB","description":"### Upload contents of file for user defined table generation/load.\n","x-looker-status":"undocumented","consumes":["text/plain","text/csv"],"parameters":[{"name":"upload_id","in":"path","description":"Id of upload table","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"File contents","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"The loaded UploadTable.","schema":{"$ref":"UploadTable"}},"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"422":{"description":"Validation Error","schema":{"$ref":"ValidationError"}}}}},"/uploads":{"get":{"tags":["Upload"],"operationId":"all_uploads","summary":"get all uploads","description":"### Get information about all uploaded tables.\n","x-looker-status":"undocumented","responses":{"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"All uploaded tables.","schema":{"type":"array","items":{"$ref":"UploadTable"}}}}},"post":{"tags":["Upload"],"operationId":"create_upload","summary":"Upload a csv file and return the inferred table definition","description":"### Upload a csv file for user defined table generation/load.\n","x-looker-status":"undocumented","parameters":[{"name":"body","in":"body","description":"UploadTable","required":true,"schema":{"$ref":"UploadTable"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"422":{"description":"Validation Error","schema":{"$ref":"ValidationError"}},"200":{"description":"UploadTable target for confirmation with PUT.","schema":{"$ref":"UploadTable"}}}}},"/ldap_config":{"get":{"tags":["Auth"],"operationId":"ldap_config","summary":"get ldap configuration","description":"### Get the LDAP configuration.\n\nLooker can be optionally configured to authenticate users against an Active Directory or other LDAP directory server.\nLDAP setup requires coordination with an administrator of that directory server.\n\nOnly Looker administrators can read and update the LDAP configuration.\n\nConfiguring LDAP impacts authentication for all users. This configuration should be done carefully.\n\nLooker maintains a single LDAP configuation. It can be read and updated.       Updates only succeed if the new state will be valid (in the sense that all required fields are populated);       it is up to you to ensure that the configuration is appropriate and correct).\n\nLDAP is enabled or disabled for Looker using the **enabled** field.\n\nLooker will never return an **auth_password** field. That value can be set, but never retreived.\n\nSee the [Looker LDAP docs]( http://www.looker.com/docs/admin/security/ldap-setup) for additional information.\n","x-looker-status":"beta","responses":{"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"LDAP Configuration.","schema":{"$ref":"LDAPConfig"}}}},"patch":{"tags":["Auth"],"operationId":"update_ldap_config","summary":"update ldap configuration","description":"### Update the LDAP configuration.\n\nConfiguring LDAP impacts authentication for all users. This configuration should be done carefully.\n\nOnly Looker administrators can read and update the LDAP configuration.\n\nLDAP is enabled or disabled for Looker using the **enabled** field.\n\nIt is **highly** recommended that any LDAP setting changes be tested using the APIs below before being set globally.\n\nSee the [Looker LDAP docs]( http://www.looker.com/docs/admin/security/ldap-setup) for additional information.\n","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"LDAP Config","required":true,"schema":{"$ref":"LDAPConfig"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"New state for LDAP Configuration.","schema":{"$ref":"LDAPConfig"}}}}},"/ldap_config/test_connection":{"put":{"tags":["Auth"],"operationId":"test_ldap_config_connection","summary":"test ldap connection config","description":"### Test the connection settings for an LDAP configuration.\n\nThis tests that the connection is possible given a connection_host and connection_port.\n\n**connection_host** and **connection_port** are required. **connection_tls** is optional.\n\nExample:\n```json\n{\n  \"connection_host\": \"ldap.example.com\",\n  \"connection_port\": \"636\",\n  \"connection_tls\": true\n}\n```\n\nNo authentication to the LDAP server is attempted.\n\nThe active LDAP settings are not modified.\n","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"LDAP Config","required":true,"schema":{"$ref":"LDAPConfig"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Result info.","schema":{"$ref":"LDAPConfigTestResult"}}}}},"/ldap_config/test_auth":{"put":{"tags":["Auth"],"operationId":"test_ldap_config_auth","summary":"test ldap auth config","description":"### Test the connection authentication settings for an LDAP configuration.\n\nThis tests that the connection is possible and that a 'server' account to be used by Looker can       authenticate to the LDAP server given connection and authentication information.\n\n**connection_host**, **connection_port**, and **auth_username**, are required.       **connection_tls** and **auth_password** are optional.\n\nExample:\n```json\n{\n  \"connection_host\": \"ldap.example.com\",\n  \"connection_port\": \"636\",\n  \"connection_tls\": true,\n  \"auth_username\": \"cn=looker,dc=example,dc=com\",\n  \"auth_password\": \"secret\"\n}\n```\n\nLooker will never return an **auth_password**. If this request omits the **auth_password** field, then       the **auth_password** value from the active config (if present) will be used for the test.\n\nThe active LDAP settings are not modified.\n\n","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"LDAP Config","required":true,"schema":{"$ref":"LDAPConfig"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Result info.","schema":{"$ref":"LDAPConfigTestResult"}}}}},"/ldap_config/test_user_info":{"put":{"tags":["Auth"],"operationId":"test_ldap_config_user_info","summary":"test ldap user info config","description":"### Test the user authentication settings for an LDAP configuration without authenticating the user.\n\nThis test will let you easily test the mapping for user properties and roles for any user without      needing to authenticate as that user.\n\nThis test accepts a full LDAP configuration along with a username and attempts to find the full info      for the user from the LDAP server without actually authenticating the user. So, user password is not      required.The configuration is validated before attempting to contact the server.\n\n**test_ldap_user** is required.\n\nThe active LDAP settings are not modified.\n\n","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"LDAP Config","required":true,"schema":{"$ref":"LDAPConfig"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Result info.","schema":{"$ref":"LDAPConfigTestResult"}}}}},"/ldap_config/test_user_auth":{"put":{"tags":["Auth"],"operationId":"test_ldap_config_user_auth","summary":"test ldap user auth config","description":"### Test the user authentication settings for an LDAP configuration.\n\nThis test accepts a full LDAP configuration along with a username/password pair and attempts to       authenticate the user with the LDAP server. The configuration is validated before attempting the       authentication.\n\nLooker will never return an **auth_password**. If this request omits the **auth_password** field, then       the **auth_password** value from the active config (if present) will be used for the test.\n\n**test_ldap_user** and **test_ldap_password** are required.\n\nThe active LDAP settings are not modified.\n\n","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"LDAP Config","required":true,"schema":{"$ref":"LDAPConfig"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Result info.","schema":{"$ref":"LDAPConfigTestResult"}}}}},"/scheduled_plan_destinations":{"post":{"tags":["ScheduledPlan"],"operationId":"create_scheduled_plan_destination","summary":"create scheduled plan destination","description":"### Set destinations for a scheduled plan","x-looker-status":"undocumented","parameters":[{"name":"body","in":"body","description":"scheduled plan destination","required":false,"schema":{"$ref":"ScheduledPlanDestination"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"scheduled plan destination","schema":{"$ref":"ScheduledPlanDestination"}}}}},"/scheduled_plan_destinations/{scheduled_plan_destination_id}":{"get":{"tags":["ScheduledPlan"],"operationId":"scheduled_plan_destination","summary":"get scheduled plan destination","description":"### Get scheduled plan destination instance","x-looker-status":"undocumented","parameters":[{"name":"scheduled_plan_destination_id","in":"path","description":"Scheduled Plan Destination Id","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"scheduled plan destination","schema":{"$ref":"ScheduledPlanDestination"}}}},"patch":{"tags":["ScheduledPlan"],"operationId":"update_scheduled_plan_destination","summary":"update scheduled plan destination","description":"### Update a scheduled plan destination instance","x-looker-status":"undocumented","parameters":[{"name":"scheduled_plan_destination_id","in":"path","description":"Scheduled Plan Destination Id","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"scheduled plan destination","required":true,"schema":{"$ref":"ScheduledPlanDestination"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"scheduled plan destination","schema":{"$ref":"ScheduledPlanDestination"}}}},"delete":{"tags":["ScheduledPlan"],"operationId":"delete_scheduled_plan_destination","summary":"delete scheduled plan destination","description":"### Delete a scheduled plan destination instance","x-looker-status":"undocumented","parameters":[{"name":"scheduled_plan_destination_id","in":"path","description":"Scheduled Plan Destination Id","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Successfully deleted.","schema":{"type":"string"}}}}},"/stories":{"get":{"tags":["Story"],"operationId":"all_stories","summary":"Get all stories","description":"### Get a list of all of the stories (without the html).\n","x-looker-status":"undocumented","responses":{"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"All Stories.","schema":{"type":"array","items":{"$ref":"StoryListItem"}}}}}},"/stories/assets":{"get":{"tags":["Story"],"operationId":"story_assets","summary":"Get assets used by stories","description":"### Get the assets for stories.\n","x-looker-status":"undocumented","responses":{"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Assets for stories.","schema":{"$ref":"StoryAssets"}}}}},"/stories/{story_id}":{"get":{"tags":["Story"],"operationId":"story","summary":"Get a story","description":"### Get the story with a specific id.\n","x-looker-status":"undocumented","parameters":[{"name":"story_id","in":"path","description":"Id of story","required":true,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Specified story.","schema":{"$ref":"Story"}}}}},"/model_sets/{model_set_id}":{"get":{"tags":["Role"],"operationId":"model_set","summary":"Get a model set","description":"### Get information about the model set with a specific id.\n","x-looker-status":"beta","parameters":[{"name":"model_set_id","in":"path","description":"Id of model set","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Specified model set.","schema":{"$ref":"ModelSet"}}}},"delete":{"tags":["Role"],"operationId":"delete_model_set","summary":"delete a model set","description":"### Delete the model set with a specific id.\n","x-looker-status":"beta","parameters":[{"name":"model_set_id","in":"path","description":"id of model set","required":true,"type":"integer","format":"int64"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"204":{"description":"Model set succssfully deleted.","schema":{"type":"string"}}}},"patch":{"tags":["Role"],"operationId":"update_model_set","summary":"update a model set","description":"### Update information about the model set with a specific id.\n","x-looker-status":"beta","parameters":[{"name":"model_set_id","in":"path","description":"id of model set","required":true,"type":"integer","format":"int64"},{"name":"body","in":"body","description":"ModelSet","required":true,"schema":{"$ref":"ModelSet"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"New state for specified model set.","schema":{"$ref":"ModelSet"}}}}},"/model_sets":{"get":{"tags":["Role"],"operationId":"all_model_sets","summary":"get all model sets","description":"### Get information about all model sets.\n","x-looker-status":"beta","parameters":[{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"All model sets.","schema":{"type":"array","items":{"$ref":"ModelSet"}}}}},"post":{"tags":["Role"],"operationId":"create_model_set","summary":"create a model set","description":"### Create a model set with the specified information. Model sets are used by Roles.\n","x-looker-status":"beta","parameters":[{"name":"body","in":"body","description":"ModelSet","required":false,"schema":{"$ref":"ModelSet"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"409":{"description":"Resource Already Exists","schema":{"$ref":"Error"}},"422":{"description":"Validation Error","schema":{"$ref":"ValidationError"}},"500":{"description":"Server Error","schema":{"$ref":"Error"}},"200":{"description":"Newly created ModelSet","schema":{"$ref":"ModelSet"}}}}},"/looks":{"get":{"tags":["Look"],"operationId":"all_looks","summary":"get all looks","description":"### Get all the looks.","x-looker-status":"beta","parameters":[{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"look","schema":{"type":"array","items":{"$ref":"Look"}}}}}},"/looks/{look_id}":{"get":{"tags":["Look"],"operationId":"look","summary":"get look","description":"### Get a Look.\n\nReturn detailed information about the Look and its associated Query.\n\n","x-looker-status":"beta","parameters":[{"name":"look_id","in":"path","description":"Id of look","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"look","schema":{"$ref":"LookWithQuery"}}}}},"/looks/{look_id}/run/{format}":{"get":{"tags":["Look"],"operationId":"run_look","summary":"run look","description":"### Run a Look.\n\nGiven a look id and a format, this will run the look's query and return the results.\n\nSuported formats:\n- json - plain json\n- csv - comma separated values with a header\n- txt - tab separated values with a header\n- html - simple html\n- md - simple markdown\n- sql - shows the generated SQL rather than running the query\n- png - a PNG image of the visualization of the query\n- jpg - a JPG image of the visualization of the query\n- unified - json that is annotated with additional metadata as used by the Looker web application\n\n\n","x-looker-status":"beta","produces":["text","application/json","image/png","image/jpg"],"parameters":[{"name":"look_id","in":"path","description":"Id of look","required":true,"type":"integer","format":"int64"},{"name":"format","in":"path","description":"Format of result","required":true,"type":"string"},{"name":"limit","in":"query","description":"Row limit (may override the limit in the saved query).","required":false,"type":"integer","format":"int64"},{"name":"apply_formatting","in":"query","description":"Apply model-specified formatting to each result.","required":false,"type":"boolean"},{"name":"cache","in":"query","description":"Get results from cache if available.","required":false,"type":"boolean"},{"name":"image_width","in":"query","description":"Render width for image formats.","required":false,"type":"integer","format":"int64"},{"name":"image_height","in":"query","description":"Render height for image formats.","required":false,"type":"integer","format":"int64"},{"name":"generate_drill_links","in":"query","description":"Generate drill links (only applicable to 'unified' format.","required":false,"type":"boolean"},{"name":"force_production","in":"query","description":"Force use of production models even if the user is in developer mode.","required":false,"type":"boolean"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"look","schema":{"type":"string"}}}}},"/looks/{look_id}/prefetch":{"get":{"tags":["Look"],"operationId":"look_prefetch","summary":"get a prefetch","description":"### Get a prefetch for a look with the specified information.\n","x-looker-status":"beta","parameters":[{"name":"look_id","in":"path","description":"Id of look","required":true,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"Prefetch","schema":{"$ref":"PrefetchMapper"}}}},"post":{"tags":["Look"],"operationId":"create_look_prefetch","summary":"create a prefetch","description":"### Create a prefetch for a look with the specified information.\n","x-looker-status":"beta","parameters":[{"name":"look_id","in":"path","description":"Id of dashboard","required":true,"type":"string"},{"name":"body","in":"body","description":"Parameters for prefetch request","required":false,"schema":{"$ref":"PrefetchLookRequestMapper"}}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"409":{"description":"Resource Already Exists","schema":{"$ref":"Error"}},"422":{"description":"Validation Error","schema":{"$ref":"ValidationError"}},"200":{"description":"Newly created Prefetch","schema":{"$ref":"PrefetchLookRequestMapper"}}}}},"/queries/{query_id}":{"get":{"tags":["Query"],"operationId":"query","summary":"get query","description":"### Get a previously created query by id.\n\nA Looker query object includes the various parameters that define a database query that has been run or\ncould be run in the future. These parameters include: model, view, fields, filters, pivots, etc.\nQuery *results* are not part of the query object.\n\nQuery objects are unique and immutable. Query objects are created automatically in Looker as users explore data.\nLooker does not delete them; they become part of the query history. When asked to create a query for\nany given set of parameters, Looker will first try to find an existing query object with matching\nparameters and will only create a new object when an appropriate object can not be found.\n\nThis 'get' method is used to get the details about a query for a given id. See the other methods here\nto 'create' and 'run' queries.\n\nNote that some fields like 'filter_config' and 'vis_config' etc are specific to how the Looker UI\nbuilds queries and visualizations and are not generally useful for API use. They are not required when\ncreating new queries and can usually just be ignored.\n\n","x-looker-status":"beta","parameters":[{"name":"query_id","in":"path","description":"Id of query","required":true,"type":"integer","format":"int64"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"query","schema":{"$ref":"Query"}}}}},"/queries/slug/{slug}":{"get":{"tags":["Query"],"operationId":"query_for_slug","summary":"get query for slug","description":"### Get the query for a given query slug.\n\nThis returns the query for the 'slug' in a query share URL.\n\nThe 'slug' is a randomly chosen short string that is used as an alternative to the query's id value\nfor use in URLs etc. This method exists as a convenience to help you use the API to 'find' queries that\nhave been created using the Looker UI.\n\nYou can use the Looker explore page to build a query and then choose the 'Share' option to\nshow the share url for the query. Share urls generally look something like 'https://looker.yourcompany/x/vwGSbfc'.\nThe trailing 'vwGSbfc' is the share slug. You can pass that string to this api method to get details about the query.\nThose details include the 'id' that you can use to run the query. Or, you can copy the query body\n(perhaps with your own modification) and use that as the basis to make/run new queries.\n\n","x-looker-status":"beta","parameters":[{"name":"slug","in":"path","description":"Slug of query","required":true,"type":"string"},{"name":"fields","in":"query","description":"Requested fields.","required":false,"type":"string"}],"responses":{"400":{"description":"Bad Request","schema":{"$ref":"Error"}},"404":{"description":"Not Found","schema":{"$ref":"Error"}},"200":{"description":"query","schema":{"$ref":"Query"}}}}},"/queries":{"post":{"tags":["Query"],"operationId":"create_query","summary":"create query","description":"### Create a query.\n\nThis allows you to create a new query that yo
[...]
